* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

#calculatrice {
    margin: auto;
    width: 50%;
    height: 40rem;
    background-color: darkslategray;
    padding-top: 10px;
    border-radius: 5%;
}

#ecran {
    width: 90%;
    height: 10rem;
    background-color: cadetblue;
    margin: auto;
    color: antiquewhite;
    text-align: right;
    padding-top: 40px;
    font-size: 50px;
    box-shadow: 0px 0px 10px rgb(252, 252, 252);
}

#touches {
    width: 90%;
    margin: auto;
    height: 25rem;
    background-color: dimgray;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;

}
button {
    width: 20%;
    height: 50px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 15%;
}

@media screen and (max-width: 400px){
    #calculatrice {
        width: 100%;
        margin: 0;
    }
}